body {
    background-color: #f4f1de;
    text-align: center;
}

.header {
    text-align: center;
    color: #f4f1de;
    background-color: #e07a5f;
    padding: 2rem 1rem;
}

.menu {
    background-color: #f2cc8f;
    text-align: center;
}

.button {
    font-family: sans-serif;
    background-color: #f4f1de;
    color: #e07a5f;
    text-align: center;
    font-weight: bold;
}

.header2 {
    text-align: center;
    color: #e07a5f;
    padding: 2rem 1rem;
}
.header3 {
    text-align: center;
    color: #e07a5f;
}

.grocery-list {
    font-family: sans-serif;
    align-items: center;
}

ul, ol {
    list-style-position: inside;
}

.clicked {
    background-color: red;
}
